{{ template "header" . }}
<h1 class="heading">
    <span>新規ユーザー登録</span>
</h1>
<form action="/user/new" method="POST" id="user_new" style="max-width: 450px;">
    {{ template "error" . }}
    <dl class="info">
        <div>
            <dt><label>ユーザー名</label></dt>
            <dd><input type="text" name="username" class="textbox" value="{{ .Username }}" placeholder="ユーザーID" required></dd>
        </div>
        <div>
            <dt><label>パスワード</label></dt>
            <dd><input type="password" name="password" class="textbox" value="{{ .Password }}" placeholder="パスワード" required></dd>
        </div>
        <div>
            <dt><label>パスワード(確認)</label></dt>
            <dd><input type="password" name="password_confirm" class="textbox" placeholder="パスワード(確認)" required></dd>
        </div>
    </dl>
    <div class="button-container">
        <button class="button-next">登録</button>
    </div>
</form>
{{ template "footer" }}