{{ template "header" . }}
<h1 class="heading">
    <span>パスワードの変更</span>
</h1>
<form id="password_update" action="/user/password" method="POST" style="max-width: 500px;">
    <dl class="info">
        <div>
            <dt><label>現在のパスワード</label></dt>
            <dd><input type="password" name="current_password" class="textbox" placeholder="現在のパスワード" required></dd>
        </div>
        <div>
            <dt><label>新しいパスワード</label></dt>
            <dd><input type="password" name="new_password" class="textbox" placeholder="新しいパスワード" required></dd>
        </div>
        <div>
            <dt><label>新しいパスワード(確認)</label></dt>
            <dd><input type="password" name="new_password_confirm" class="textbox" placeholder="新しいパスワード(確認)" required></dd>
        </div>
    </dl>
    </br>
    <div class="button-container">
        <button type="button" class="button-next" onclick="confirm_password_update()">更新</button>
        <button type="button" class="button-back" onclick="location.href='/user/info'">戻る</button>
    </div>
</form>
{{ template "footer" }}