{{ template "header" . }}
<h1>パスワードの変更</h1>
<form id="password_update" action="/user/password" method="POST">
    <label>現在のパスワード</label><input type="password" name="current_password" required>
    </br>
    <label>新しいパスワード</label><input type="password" name="new_password" required>
    </br>
    <label>新しいパスワード（確認）</label><input type="password" name="new_password_confirm" required>
    </br>
    <button type="button" onclick="confirm_password_update()">更新</button>
    <a href="/user/info"><button type="button">戻る</button></a>
</form>
{{ template "footer" }}