{{ template "header" . }}
<h1 class="heading">
    <span>ユーザー情報の編集</span>
</h1>
<form id="user_update" action="/user/edit" method="POST">
    <dl class="info">
        <div>
            <dt><label>ユーザー名</label></dt>
            <dd><input type="text" name="username" class="textbox" value="{{ .User.Name }}" placeholder="ユーザーID" required></dd>
        </div>
    </dl>
    </br>
    <div class="button-container">
        <button class="button-next" onclick="confirm_user_update('{{ .User.ID }}', '{{ .User.Name }}')">更新</button>
        <button class="button-back" onclick="location.href='/user/info'">戻る</button>
    </div>
</form>
{{ template "footer" }}