{{ template "header" . }}
<h1 class="heading">
    <span>タスクの新規登録</span>
</h1>
<form action="/task/new" id="task_new" method="POST">
    <dl class="info">
        <div>
            <dt><label>タイトル</label></dt>
            <dd><input type="text" name="title" class="textbox" placeholder="タイトル" required></dd>
        </div>
        <div>
            <dt><label>説明</label></dt>
            <dd><textarea name="detail" class="textarea" placeholder="説明"></textarea></dd>
        </div>
    </dl>
    <!-- <input type="submit" value="登録">
    <a href="/list"><button type="button">戻る</button></a> -->
</form>
<div class="button-container">
    <button class="button-next" onclick="confirm_task_new()">登録</button>
    <button class="button-back" onclick="location.href='/list'">戻る</button>
</div>
{{ template "footer" }}