{{ template "header" . }}
<h1 class="heading">
    <span>ログイン</span>
</h1>
<form action="/login" method="POST" id="login" style="max-width: 450px;">
    {{ template "error" . }}
    <dl class="info">
        <div>
            <dt><label>ユーザー名</label></dt>
            <dd><input type="text" name="username" class="textbox" value="{{ .Username }}" placeholder="ユーザーID" required></dd>
        </div>
        <div>
            <dt><label>パスワード</label></dt>
            <dd><input type="password" name="password" class="textbox" value="{{ .Password }}" placeholder="パスワード" required></dd>
        </div>
    </dl>
    <div class="button-container">
        <button class="button-next" onclick="confirm_login('login')">ログイン</button>
    </div>
</form>
<a href="/user/new">新規登録</a>
{{ template "footer" }}