{{ template "header" . }}
<h1 class="heading">
    <span>タスク詳細</span>
</h1>
<dl class="info">
    <div>
        <dt>ID</dt>
        <dd>{{ .ID }}</dd>
    </div>
    <div>
        <dt>タイトル</dt>
        <dd>{{ .Title }}</dd>
    </div>
    <div>
        <dt>作成日時</dt>
        <dd>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</dd>
    </div>
    <div>
        <dt>説明</dt>
        <dd>{{ .Detail }}</dd>
    </div>
    <div>
        <dt>状態</dt>
        <dd>
            <label class="toggle-button">
                <input type="checkbox" class="toggle-button" {{ if .IsDone }}checked {{ end }} disabled/>
            </label>
        </dd>
    </div>
</dl>
<div class="button-container">
    <button class="button-back" onclick="location.href='/list'">リストへ戻る</button>
    <button class="button-next" onclick="location.href='/task/edit/{{ .ID }}'">編集</button>
    <button class="button-delete" onclick="confirm_task_delete('{{ .ID }}', '{{ .Title }}')">削除</button>
</div>
{{ template "footer" }}