{{ template "header" . }}
<h1 class="heading">
    <span>タスク詳細</span>
</h1>
<dl class="info">
    <div>
        <dt>ID</dt>
        <dd>{{ .ID }}</dd>
    </div>
    <div>
        <dt>タイトル</dt>
        <dd>{{ .Title }}</dd>
    </div>
    <div>
        <dt>作成日時</dt>
        <dd>{{ .CreatedAt.Format "2006-01-02 15:04:05" }}</dd>
    </div>
    <div>
        <dt>説明</dt>
        <dd>{{ .Detail }}</dd>
    </div>
    <div>
        <dt>状態</dt>
        <dd><input type="checkbox" {{ if .IsDone }}checked {{ end }}disabled/>済</dd>
    </div>
</dl>
<a href="/list"><button type="button">リストへ戻る</button></a>
<a href="/task/edit/{{ .ID }}"><button type="button">編集</button></a>
<button type="button" onclick="confirm_task_delete({{ .ID }}, {{ .Title }})">削除</button>
{{ template "footer" }}