{{ template "header" . }}
<h1 class="heading">
    <span>タスク一覧</span>
</h1>
<br>
<form action="/list" method="GET">
    <label class="search-form">
        <input type="text" placeholder="タイトル / 説明 を検索" name="kw" value="{{ .Kw }}">
        <button type="submit" aria-label="検索"></button>
    </label>
    <label class="select-box">
        <select name="dn" onchange="this.form.submit()">
            <option value="all" {{ if eq .Dn "all" }}selected{{ end }}>全てのタスク</option>
            <option value="done" {{ if eq .Dn "done" }}selected{{ end }}>完了したタスクのみ</option>
            <option value="not_done" {{ if eq .Dn "not_done" }}selected{{ end }}>未完了のタスクのみ</option>
        </select>
    </label>
</form>
<button type="button" class="button-new" onclick="location.href='/task/new'" style="margin-bottom: 10px; float: right;">
    新規登録
</button>
{{ if not .Tasks }}
<p>登録データがありません．</p>
{{ else }}
<table class="radius-table">
    <tr>
        <th>ID</th>
        <th>登録日</th>
        <th>タイトル</th>
        <th>説明</th>
        <th>状態</th>
    </tr>
    {{ range $task := .Tasks }}
    <tr>
        <td>{{ $task.ID }}</td>
        <td style="width: 20%;">{{ $task.CreatedAt.Format "2006-01-02 15:04:05" }}</td>
        <td style="width: 35%;"><a href="/task/{{ $task.ID }}"><b>{{ $task.Title }}</b></a></td>
        {{ $threshold := 20 }}
        <td class="long-text" style="width: 30%; font-size: smaller;">
            {{ if ne ($task.Detail) (printf (printf "%%.%ds" $threshold) $task.Detail) }}
                <details>
                    <summary>{{ printf (printf "%%.%ds..." $threshold) $task.Detail }}</summary>
                    <br>
                    {{ $task.Detail }}
                </details>
            {{ else }}
                {{ printf (printf "%%.%ds" $threshold) $task.Detail }}
            {{ end }}
        </td>
        <td>{{ if $task.IsDone }}✅{{ end }}</td>
    </tr>
    {{ end }}
</table>
{{ end }}
<ol class="pagination">
    <!-- <li class="prev"><a href="#"><</a></li> -->
    {{ range $page := one_until .TotalPage }}
    <li {{ if eq $page $.Page }}class="current"{{ end }}>
        <a href="/list?kw={{ $.Kw }}&dn={{ $.Dn }}&page={{ $page }}">{{ $page }}</a>
    </li>
    {{ end }}
    <!-- <li class="next"><a href="#">></a></li> -->
</ol>
<a href="/user/info">ユーザ情報</a>
<br>
{{ template "footer" }}
