{{ template "header" . }}
<h1 class="heading">
    <span>ユーザー情報</span>
</h1>
<dl class="info">
    <div>
        <dt>ID</dt>
        <dd>{{ .User.ID }}</dd>
    </div>
    <div>
        <dt>ユーザー名</dt>
        <dd>{{ .User.Name }}</dd>
    </div>
    <div>
        <dt>開設日時</dt>
        <dd>{{ .User.CreatedAt.Format "2006-01-02 15:04:05" }}</dd>
    </div>
</dl>
<div class="button-container">
    <button type="button" class="button-next" onclick="location.href='/user/edit'">ユーザー情報の編集</button>
    <button type="button" class="button-next" onclick="location.href='/user/password'">パスワードの変更</button>
    <button type="button" class="button-delete" onclick="confirm_user_delete('{{ .User.ID }}', '{{ .User.Name }}')">アカウント削除</button>
</div>

<div class="button-container">
    <button type="button" class="button-back" onclick="location.href='/list'">リストへ戻る</button>
    <button type="button" class="button-back" onclick="location.href='/logout'">ログアウト</button>
</div>
{{ template "footer" }}