table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 768px;
}

@media (min-width: 768px) {
    table {
        width: 100%;
    }
}

table tr{
    border-bottom: solid 1px #eee;
    cursor: pointer;
}

table tr:hover{
    background-color: #d4f0fd;
}

table th{
    background-color: #f5f5f5;
}

summary {
    color: black;
}

details {
    color: gray;
}

table th, table td{
    text-align: left;
    padding: 15px 15px;
}

table td.long-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
}

.info div {
    display:flex;
    justify-content: flex-start;
    padding: 6px;
    border-bottom: 1px dotted #c7c7c7;
}

.info dt {
    width: 120px;   
}

.info dd {
    margin-left: 0;
    width: calc(100% - 120px);
}
