:root {
    --theme-color: #2589d0;
    --theme-hover-background-color: #d4f0fd;
    --theme-hover-color: #1579c0;
    --theme-border-color: #e6edf3;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 768px;
}

@media (min-width: 768px) {
    table {
        width: 100%;
    }
}

table tr{
    border-bottom: solid 1px var(--theme-border-color);
    cursor: pointer;
}

table tr:hover{
    background-color: var(--theme-hover-background-color);
}

table th{
    background-color: var(--theme-color);
    color: #fff;
}

summary {
    color: black;
}

details {
    color: gray;
}

table th, table td{
    text-align: left;
    padding: 15px 15px;
}

table td.long-text {
    word-wrap: break-word;
    overflow-wrap: break-word;
    word-break: normal;
}

.radius-table{
    border-radius: 20px;
}

.radius-table tr:first-child>*:first-child{
    border-radius: 20px 0 0 0;
}

.radius-table tr:first-child>*:last-child{
    border-radius: 0 20px 0 0;
}

/* 説明 */
.info div {
    display:flex;
    justify-content: flex-start;
    padding: 6px;
    border-bottom: 1px solid var(--theme-border-color);
}

.info dt {
    width: 150px;   
    margin-top: auto;
    margin-bottom: auto;
}

.info dd {
    margin-left: 0;
    width: calc(100% - 120px);
}

.info dt, .info dd {
    padding: 6px;
}

/* .info div:hover {
    background-color: var(--theme-hover-background-color);
} */


/* 選択ボックス */
.select-box {
    position: relative;
    margin-bottom: 20px;
    margin-top: 20px;
}

.select-box::before,
.select-box::after {
    position: absolute;
    content: '';
    pointer-events: none;
}

.select-box::before {
    right: 0;
    display: inline-block;
    width: 2.8em;
    height: 2.8em;
    border-radius: 0 25px 25px 0;
    background-color: var(--theme-color);
    content: '';
}

.select-box::after {
    position: absolute;
    top: 50%;
    right: 1.4em;
    transform: translate(50%, -50%) rotate(45deg);
    width: 6px;
    height: 6px;
    border-bottom: 3px solid #fff;
    border-right: 3px solid #fff;
    content: '';
}

.select-box select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    min-width: 230px;
    height: 2.8em;
    padding: .4em 3.6em .4em .8em;
    border: 2px solid var(--theme-color);
    border-radius: 25px;
    color: #333333;
    font-size: 1em;
    cursor: pointer;
}

.select-box select:focus {
    outline: 1px solid var(--theme-color);
}


/* 検索ボタン */
.search-form {
    width: 768px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    overflow: hidden;
    border: 2px solid var(--theme-color);
    border-radius: 25px;
    margin-bottom: 20px;
}

@media (max-width: 768px) {
    .search-form {
        width: 100%;
    }
}

.search-form input {
    width: calc(100% - 50px);
    height: 45px;
    padding: 5px 15px;
    border: none;
    box-sizing: border-box;
    font-size: 1em;
    outline: none;
}

.search-form input::placeholder{
    color: #767d83;
}

.search-form button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 45px;
    border: none;
    background-color: var(--theme-color);
    cursor: pointer;
}

.search-form button::after {
    width: 20px;
    height: 20px;
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2024%2024%22%3E%20%3Cpath%20d%3D%22M23.7%2020.8%2019%2016.1c-.2-.2-.5-.3-.8-.3h-.8c1.3-1.7%202-3.7%202-6C19.5%204.4%2015.1%200%209.7%200S0%204.4%200%209.7s4.4%209.7%209.7%209.7c2.3%200%204.3-.8%206-2v.8c0%20.3.1.6.3.8l4.7%204.7c.4.4%201.2.4%201.6%200l1.3-1.3c.5-.5.5-1.2.1-1.6zm-14-5.1c-3.3%200-6-2.7-6-6s2.7-6%206-6%206%202.7%206%206-2.6%206-6%206z%22%20fill%3D%22%23fff%22%3E%3C%2Fpath%3E%20%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    content: '';
}

/* newボタン */
.button-new {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-width: 250px;
    /* margin: 0 auto; */
    padding: .9em 3.2em .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: var(--theme-color);
    background-image: url(data:image/svg+xml;charset=utf8,%3Csvg%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%2028%2028%22%3E%0A%20%20%20%20%3Ccircle%20cx%3D%2214%22%20cy%3D%2214%22%20r%3D%2214%22%20style%3D%22fill%3A%23fff%3B%22%2F%3E%0A%3C%2Fsvg%3E);
    background-position: right 1.6em center;
    background-size: 1.2em;
    background-repeat: no-repeat;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: auto;
}

.button-new:hover {
    background-color: var(--theme-hover-color);
}

.button-new::before,
.button-new::after {
    position: absolute;
    right: calc(2.2em - 1.5px);
    width: 3px;
    height: 10px;
    border-radius: 1px;
    background-color: var(--theme-color);
    content: '';
}

.button-new::before {
    transform: rotate(90deg);
}

/* タイトル */
.heading {
    border-bottom: 3px solid var(--theme-border-color); 
}

.heading span {
    display: inline-block;
    position: relative;
    padding: 0 .4em .2em;
    color: #333333;
}

.heading span::before {
    position: absolute;
    bottom: -3px;
    left: 0;
    width: 100%;
    height: 3px;
    background-color: #2589d0;
    content: '';
}

/* テキストボックス，テキストエリア */
.textbox, .textarea {
    min-width: 250px;
    width: 100%;
    padding: 8px 10px;
    box-sizing: border-box;
    margin: 5px auto;
    border: 1px solid var(--theme-color);
    border-radius: 25px;
    color: #333;
    font-size: 1em;
    line-height: 1.5;
}

.textbox::placeholder, .textarea::placeholder {
    color: #999;
}

.textarea {
    min-height: 100px;
}

/* nextボタン */
.button-next {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 250px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: var(--theme-color);
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-next::after {
    transform: rotate(45deg);
    width: 5px;
    height: 5px;
    margin-left: 10px;
    border-top: 2px solid #fff;
    border-right: 2px solid #fff;
    content: '';
}

.button-next:hover {
    background-color: var(--theme-hover-color);
}

/* backボタン */
.button-back {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 120px;
    margin:0 auto;
    padding: .9em 2em;
    border: none;
    border-radius: 25px;
    background-color: #999;
    color: #fff;
    font-weight: 600;
    font-size: 1em;
}

.button-back:hover {
    background-color: #666;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.button-next,
.button-back {
    margin: 0 10px; /* Adjust as needed */
}


.toggle-button {
    display: flex;
    align-items: center;
    position: relative;
    width: 100px;
    height: 50px;
    border-radius: 50px;
    box-sizing: content-box;
    background-color: #ff8d8d33;
    cursor: pointer;
    transition: background-color .4s;
}

.toggle-button:has(:checked) {
    background-color: #75bbff33;
}

.toggle-button::before {
    position: absolute;
    left: 5px;
    width: 42px;
    height: 42px;
    border-radius: 50%;
    background-color: #ff8d8d;
    content: '';
    transition: left .4s;
}

.toggle-button:has(:checked)::before {
    left: 50px;
    background-color: #75bbff;
}

.toggle-button::after {
    position: absolute;
    left: 26px;
    transform: translateX(-50%);
    color: #fff;
    font-weight: 600;
    font-size: .9em;
    content: '未';
    transition: left .4s;
}

.toggle-button:has(:checked)::after {
    left: 71px;
    content: '済';
}

.toggle-button input {
    display: none;
}